<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>회원가입 페이지</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>회원가입 페이지</h1>-->
<!--<hr/>-->
<!--<form action="/joinProc" method="post">-->
<!--    <input type="text" name="username" placeholder="Username"/> <br/>-->
<!--    <input type="password" name="password" placeholder="Password"/> <br/>-->
<!--    <input type="email" name="email" placeholder="Email"/> <br/>-->
<!--    <button>회원가입</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form method="post" th:action="@{/joinProc}">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="inputuserid">userID</label>
            <input type="text" class="form-control" id="inputuserid" name="userID" placeholder="사용자 아이디">
        </div>
        <div class="form-group">
            <label for="inputAddress">userName</label>
            <input type="text" class="form-control" id="inputAddress" name="userName" placeholder="사용자 이름">
        </div>
        <div class="form-group">
            <label for="inputPassword4">password</label>
            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="사용자 비밀번호">
        </div>
        <div class="form-group">
            <label for="imputemail">email</label>
            <input type="email" class="form-control" id="imputemail" name="email" placeholder="사용자 e-mail 주소">
        </div>
        <button type="submit" class="btn btn-primary">가입 완료</button>
    </div>
</form>
</body>
</html>