<!DOCTYPE html>
{% load static %}
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>InventoryFriends - {{ title }}</title>
    {% else %}
        <title>InventoryFriends</title>
    {% endif %}
</head>
<body>
    <header>
        <div id="logo">
            <img src="./logo1.png" alt="logo">
        </div>
        <nav>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                    <ul class="submenu">
                        <li><a href="#">프로젝트소개</a></li>
                        <li><a href="#">맴버소개</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">가격예측</a>
                    <ul class="submenu">
                        <li><a href="{% url 'home:price_predict' %}">농산물 가격 예측</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">병해진단</a>
                    <ul class="submenu">
                        <li><a href="{% url 'home:disease' %}">농작물 병해 진단</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'home:comunity' %}">커뮤니티</a>
                </li>
            </ul>
        </nav>
        <div id="mypage">
            <button></button>
        </div>
    </header>
    <main class="main">
        {% block content %}{% endblock %}        
    </main> 
    <footer>
        <div id="left_section">
            <img src="../static/images/footer/dice.png" width="20" height="20">
            <span class="gva">GVA</span>
        </div>
        <div id="right_section" class="row">
            <div class="col-4">
              <ol>Smart farm
                <li><a href="#" target="_blank" onClick="clickcr(this, 'fot.agreement', '', '', event);">What is Smart farm?</a></li>
                <li><a href="#" target="_blank" onClick="clickcr(this, 'fot.agreement', '', '', event);">Features</a></li>
                <li><a href="#" target="_blank" onClick="clickcr(this, 'fot.agreement', '', '', event);">Data</a></li>
              </ol>
            </div>
            <div class="col-4">
              <ol>Community
                <li>Q&A</li>
              </ol>
            </div>
            <div class="col-4">
              <ol>About us
                <li>Green-Vision-AI</li>
                <li>Member information</li>
                <li>Vision</li>
              </ol>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom_left">
              <address>
                <em>Copyright ©</em>
                <strong>Green-Vision-AI</strong>
                <span>2022 rural friend</span>
              </address>
            </div>
            <div class="bottom_right">
              <strong>follow us:</strong>
              <span>sns</span>
            </div>
        </div>
    </footer>
</body>
</html>